body {
    margin: 0;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #FFFDEC;
}

header{
  background-color: #FFFDEC;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #C74900;
}

header a {
    color: #0D301D;
    text-decoration: none;
} 

header a:hover {
  color: #C74900;
}

.contenutoheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}

nav li {
    display: inline;
    margin-left: 20px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}

.intro2 {
  max-width: 400px;
  margin: 90px auto;
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  color: black;
}

.boxetna1{
    max-width: 600px;
    color: black;
    margin-bottom: 100px;
    margin-left: 700px;
}

.testoetna1{
    margin-top: 100px;
    font-weight: bold;
    margin: 10px 0;
}
.linea-sottile{
    height: 3px;
    background-color: #C74900;
    width: 95%;
    margin: 20px auto;
}



.boxetna2{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.etna1{
    margin-top: 150px;
    width: 400px;
    height: 600px;
    margin-left: 150px;
    object-fit: cover;
}

.testoetna2{
    display: flex;
    flex-direction: column;
    color: black;
    width: 600px;
}

.testogranp2 h3{
    font-size: 24px;
}

.imgetna {
  display: flex;
  justify-content: center;
  margin: 70px auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.imgetna img {
  max-width: 100%;
  height: auto;
  display: block;
}

.boxetna3{
    margin-left: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.testoetna3{
    display: flex;
    flex-direction: column;
    color: black;
    width: 600px;
}


.linea-sottile2{ 
    height: 3px;
    background-color: #C74900;
    width: 95%;
    margin: 20px auto;
}


.boxetna4{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.etna3{
    margin-top: 150px;
    width: 400px;
    height: 600px;
    margin-left: 150px;
    object-fit: cover;
}

.testoetna4{
    display: flex;
    flex-direction: column;
    color: black;
    width: 600px;
}

footer {
  background-color: #FFFDEC;
  padding: 40px;
  margin-top: 60px;
}

footer p{
    font-weight: bold;
}

.contenutofooter {
  display: flex;
  justify-content: space-between;
}

.contenutofooter ul {
  list-style: none;
  padding: 0;
}

.contenutofooter li {
  display: inline;
  margin-right: 20px;
}

@media (max-width: 600px) {
    
  .contenutoheader{
    flex-direction: column;
    text-align: center;
  }

  nav ul{
    padding: 0;
  }

  nav li{
    display: block;
    margin: 10px 0;
  }

  h1{
    font-size: 32px;
  }

  .herosection{
    height: 300px;
  }

  h2{
    font-size: 18pt;
  }

  h4{
    font-size: 18pt;
  }

  .intro{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .boxetna1{
    margin-left: 20px;
    width: 450px;
 }

  .boxetna2{
    flex-direction: column;
    gap: 150px;
  }

  .etna1{
    width: 400px;
    height: 600px;
    margin-left: 50px;
  }

  .testoetna2{
    width: 450px;
    margin-left: 20px;
  }


  .boxetna3{
    display: grid;
    justify-content: center;
  }

.testoetna3 {
  justify-content: left;
  }

  .boxetna4{
    flex-direction: column;
    gap: 150px;
  }

  .etna3{
    width: 400px;
    height: 600px;
    margin-left: 50px;
  }

  .testoetna4{
    width: 450px;
    margin-left: 20px;
  }

    .contenutofooter{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .contenutofooter li{
    display: block;
    margin: 5px 0;
  }

}

