body {
    margin: 0;
    font-family: "montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #FFFDEC;
}

header{
  background-color: #FFFDEC;
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #C74900;
}

header a {
    color: #0D301D;
    text-decoration: none;
} 

header a:hover {
  color: #C74900;
}

.contenutoheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  font-weight: bold;
}

nav li {
    display: inline;
    margin-left: 20px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 80px;
}

.intro2 {
  max-width: 600px;
  margin: 90px auto;
  text-align: center;
  font-size: 16px;
  padding: 0 20px;
  color: black;
}


.cardsparchi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card{
    text-align: center;
    width: 1100px;
    transition: transform 0.2s ease;
    padding: 60px;
}

.card img{
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.card h4{
    font-size: 20px;
    font-weight: bold;
    background-color: #C74900;
    color: #FFFDEC;
    margin: 0;
    padding: 10px;
    min-height: 50px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: scale(1.03);
}

.grigliaparchi a{
  text-decoration: none;
  color: inherit;
}

.grigliaparchi a h4{
  text-decoration: none;
  color: #FFFDEC;
}

footer {
  background-color: #FFFDEC;
  padding: 40px;
  margin-top: 60px;
}

footer p{
    font-weight: bold;
}

.contenutofooter {
  display: flex;
  justify-content: space-between;
}

.contenutofooter ul {
  list-style: none;
  padding: 0;
}

.contenutofooter li {
  display: inline;
  margin-right: 20px;
}

@media (max-width: 600px) {
    
  .contenutoheader{
    flex-direction: column;
    text-align: center;
  }

  nav ul{
    padding: 0;
  }

  nav li{
    display: block;
    margin: 10px 0;
  }

  h1{
    font-size: 28px;
  }

  .herosection{
    height: 300px;
  }

  h2{
    font-size: 18pt;
  }

  h4{
    font-size: 18pt;
  }

  .intro{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .card{
    width: 90%;
    padding: 20px;
  }
  .card img{
    width: 100%;
    height: auto;
  }

  .contenutofooter{
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .contenutofooter li{
    display: block;
    margin: 5px 0;
  }
}
